* {
  box-sizing: border-box;
}

body {
  background-color: rgb(44, 44, 44);
  color: white;
}

.movieContainer {
  width: 20%;
  display: inline-block;
  padding: 1%;
  margin: 2%;
  position: relative;
}

.movieContainer img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px 5px #F9D77E;
}

.movieContainer img {
  width: 100%;
}

.movieContainer h2 {
  margin-bottom: 15%;
}

.detailsWrap {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.fadedText {
  color: lightgrey;
  font-size: 12px;
  padding-bottom: 0;
  margin-top: auto;
}

.goldRating {
  color: gold;
  font-weight: bold;
}

.libraryContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2%;
}

.searchContainer {
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}

.searchContainer input {
  width: 35%;
  border-radius: 15px;
  background-color: rgb(27, 27, 27);
  color: white;
  font-size: large;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .movieContainer {
    width: 25%;
  }
}

@media screen and (max-width: 900px) {
  .movieContainer {
    width: 35%;
  }
}

@media screen and (max-width: 600px) {
  .movieContainer {
    width: 50%;
  }
}

/* .modalDisplay {
  display: none;
} */

.modalContainer {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalMain {
  display: flex;
  flex-direction: column;
}

.modalMain img {
  width: 60%;
  margin: auto;
  padding: 1%;
}

.modalDescription {
  width: 60%;
  margin: auto;
  padding: 1%;
}

.close {
  width: 60%;
  text-align: right;
  margin: auto;
  padding: 1%;
}

.close:hover,
.close:focus {
  color: rgba(145, 145, 145, 0.8);
  text-decoration: none;
  cursor: pointer;
}

.xSymbol {
  font-size: 24px;
}